
  <!--   Core JS Files   -->
{#  <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>#}
  <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap-material-design.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap-datepicker.js') }}"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9sma2QCjf9zMCNJqkOUlMZcJqz8WEvRM"></script>
  <!-- Chartist JS -->
{#  <script src="{{ url_for('static', filename='js/plugins/chartist.min.js') }}"></script>#}
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js') }}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', filename='js/material-dashboard.js') }}"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
{#  <script src="{{ url_for('static', filename='demo/demo.js') }}"></script>#}

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>

    <script type="text/javascript">
        $(function () {
            $('#datepicker').datepicker();
        });
    </script>

<script type="text/javascript">
    $(function() {
        $("#diagnosis_search").autoComplete();
    })

// Basic Select
    $('#diagnosis_search').autoComplete();
    $('#diagnosis_search').on('autocomplete.select', function (evt, item) {
        console.log('select', item);
        $("#d_icdID").val(item.value);
        $("#d_icdDesc").val(item.text);


    });
</script>

<script>

    var pat_ID = '';
  function rowAttributes(row, index) {
    return {
      'data-toggle': 'popover',
      'data-placement': 'bottom',
      'data-trigger': 'click',
      'data-target': '#diagnosisModalCenter',
      'data-content': [
        'Index: ' + index,
        'pat_ID: ' + row.pat_ID,
        'lname: ' + row.lname,
        'fname: ' + row.fname,
        'dob: ' + row.dob,
        'address: ' + row.address,
        'phone: ' + row.phone
      ].join(', ')
    }
  }

    function loadAllergiesParams(params) {
            return params;
        }

    function loadResultsParams(params) {
            return params;
        }

    function loadMedHistParams(params) {
            return params;
        }

    function loadPatientData(patID) {

        function loadTables(id, callback) {

            $.get(
                '/get_allergens_of_patient' + '?' + $.param({'patID': id})).then(function (res) {
                    if (res.length > 0) {
                        $('#allergens_of_patient_table').bootstrapTable('load', res);
                    }
                }
            );

            $.get(
                '/GetResultsByPatient' + '?' + $.param({'patID': id})).then(function (res) {
                    if (res.length > 0) {
                        console.log("med_hist: ", res)
                        $('#results_of_patient_table').bootstrapTable('load', res);
                    }
                }
            );
            $.get(
                '/GetNursesByPatientAndDate' + '?' + $.param({'patID': id})).then(function (res) {
                    if (res.length > 0) {
                        console.log("test_res: ", res)
                        $('#med_history_of_patient_table').bootstrapTable('load', res);
                    }
                }
            );

            callback();

        }

        function showModal() {
            $('#diagnosisModalCenter').modal('show');
        }

        loadTables(patID,showModal);
    }

  $(function() {

    $('#patient_search_table').on('click-row.bs.table', function (row, el, field) {


        pat_ID = el.pat_ID;

        loadPatientData(pat_ID);

        if (pat_ID != '') {
            console.log('pat_ID again: ',{{ pat_ID }});
                 $("#d_patID").val(el.pat_ID);
                 $("#d_lname").val(el.lname);
                 $("#d_fname").val(el.fname);
                 $("#d_dob").val(el.dob);
                 $("#d_address").val(el.address);
                 $("#d_phone").val(el.phone);

        }

    })
  })


  function ajaxRequest_patient_allergies(params) {
        console.log(params);
      params.data.search = pat_ID;
        console.log('pat_ID: ' + pat_ID);

          $.get(
              '/get_allergens_of_patient' + '?' + $.param(params.data)).then(function (res) {
                  console.log(res);
                  params.success(res);
              }
          );

  }


  function ajaxRequest_GetResultsByPatient(params) {
      console.log(params);
      params.data.search = pat_ID;
      console.log('pat_ID: ' + pat_ID);

      $.get(
          '/GetResultsByPatient' + '?' + $.param(params.data)).then(function (res) {
              console.log(res);
              params.success(res);
          }
      );
  }


  function ajaxRequest_GetNursesByPatientAndDate(params) {
      console.log(params);
      params.data.search = pat_ID;
      console.log('pat_ID: ' + pat_ID);

      $.get(
          '/GetNursesByPatientAndDate' + '?' + $.param(params.data)).then(function (res) {
              console.log(res);
              params.success(res);
          }
      );
  }


  function ajaxRequest_patients(params) {
        console.log(params)
        $.get(
            '/get_patients' + '?' + $.param(params.data)).then(function (res) {
                console.log(res);
                params.success(res);
            }
        );
  }
</script>


  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>