
                            <!-- Modal -->
                            <div class="modal fade" id="diagnosisModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">


                                  <form action="{{ url_for('make_diagnosis') }}" method="post">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label class="bmd-label-floating">Fist Name</label>
                                                <div class='input-group' id='phone_num'>
                                                    <input type="text" class="form-control" name="fname" >
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">person</i>
                                                        </span>
                                                </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label class="bmd-label-floating">Last Name</label>
                                                <div class='input-group' id='phone_num'>
                                                    <input type="text" class="form-control" name="lname" >
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">person</i>
                                                        </span>
                                                </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label class="bmd-label-floating">Adress</label>
                                                <div class='input-group' id='phone_num'>
                                                    <input type="text" class="form-control" name="address" >
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">home</i>
                                                        </span>
                                                </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="bmd-label-floating">Date of Birth</label>
                                                <div class='input-group input-append date' id='datepicker' data-date-format="yyyy-mm-dd">
                                                    <input type='date' class="form-control" name="dob"  />
                                                    <span class="input-group-addon addon">
                                                        <i class="material-icons">event</i>
                                                    </span>
                                                </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group">
                                          <label class="bmd-label-floating">Phone Number</label>
                                                <div class='input-group' id='phone_num'>
                                                    <input type="text" class="form-control" name="phone" >
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">call</i>
                                                        </span>
                                                </div>
                                        </div>
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary pull-right">Register</button>
                                    <div class="clearfix"></div>
                                  </form>

                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>