    <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="material-icons">person_add</i>
      </a>
      <ul class="dropdown-menu">


            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Register Patient</h4>
                  <p class="card-category">Enter Patient Data</p>
                </div>
                <div class="card-body">
                  <form action="{{ url_for('reg_patient') }}" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Fist Name</label>
                                <div class='input-group' id='phone_num'>
                                    <input type="text" class="form-control" name="fname" >
                                        <span class="input-group-addon">
                                            <i class="material-icons">person</i>
                                        </span>
                                </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                                <div class='input-group' id='phone_num'>
                                    <input type="text" class="form-control" name="lname" >
                                        <span class="input-group-addon">
                                            <i class="material-icons">person</i>
                                        </span>
                                </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                                <div class='input-group' id='phone_num'>
                                    <input type="text" class="form-control" name="address" >
                                        <span class="input-group-addon">
                                            <i class="material-icons">home</i>
                                        </span>
                                </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Date of Birth</label>
                                <div class='input-group input-append date' id='datepicker' data-date-format="yyyy-mm-dd">
                                    <input type='date' class="form-control" name="dob"  />
                                    <span class="input-group-addon addon">
                                        <i class="material-icons">event</i>
                                    </span>
                                </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone Number</label>
                                <div class='input-group' id='phone_num'>
                                    <input type="number" maxlength="7" min="2111111"
                                           class="form-control" name="phone" >
                                        <span class="input-group-addon">
                                            <i class="material-icons">call</i>
                                        </span>
                                </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary pull-right">Register</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>

      </ul>
    </div>
  </div>