{% extends 'layout.html' %}

{% block content %}
{% include 'navigation.html' %}

    <div class="content">
        <div class="container-fluid">


              <div class="row">
                  {% if GetInternPerformanceData_perm() %}
                        <div class="col-xl-6 col-lg-12">
                          <div class="card card-chart">
                            <div class="card-header card-header-primary">
                              <div class="ct-chart" id="dailySalesChart"></div>
                            </div>
                            <div class="card-body">
                              <h4 class="card-title">Intern Performance</h4>
                              <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in treatment rate over the past 5 days</p>
                                <p>* Interns with with above average cumulative performance</p>
                            </div>
                            <div class="card-footer">
                              <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                              </div>
                            </div>
                          </div>
                        </div>
                  {% endif %}

                  {% if GetInternPerformanceData_perm() %}
                        <div class="col-xl-6 col-lg-12">
                          <div class="card card-chart">
                            <div class="card-header card-header-danger



">
                              <div class="ct-chart" id="websiteViewsChart"></div>
                            </div>
                            <div class="card-body">
                              <h4 class="card-title">High Risk Medication</h4>
                              <p class="card-category">Sorted in Descending Order</p>
                            </div>
                            <div class="card-footer">
                              <div class="stats">
                                <i class="material-icons">warning</i> The above should be administered with great caution
                              </div>
                            </div>
                          </div>
                        </div>
                  {% endif %}
              </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">

{#                        if  there are no doctors returned then the card isn't created #}
                    {% if get_doctors() | length > 0 %}

                        {% include "doctors_table.html" %}

                    {% endif %}

                </div>
                <div class="col-lg-6 col-md-6">

{#                        if  there are no nurses returned then the card isn't created #}
                    {% if get_nurses() | length > 0 %}

                        {% include "nurses_table.html" %}

                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">

{#                        if  there are no patients returned then the card isn't created #}
                    {% if get_patients('') | length > 0 %}

                        {% include "patients_table.html" %}

                    {% endif %}

                </div>
            </div>

        </div>
    </div>

  {% include 'fixedplugin.html' %}
{% endblock %}