{% extends 'layout.html' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6 col-md-12">

{#                        if  there are no doctors returned then the card isn't created #}
                    {% if get_doctors() | length > 0 %}

                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">All Doctors</h4>
                                <p class="card-category"><b>NOTICE:</b> Doctors' availability is limited due to the COVID-19 pandemic.</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                    </thead>
                                    <tbody>

                                        {% for doc in get_doctors()  %}
                                            <tr>
                                                <td><b>{{ doc[1] }}</b></td>
                                                <td>{{ doc[0] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                {% if error %}
                                    <p class="error"><strong>Error:</strong> {{ error_msg }}</p>
                                {% endif %}
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}