
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">All Patients</h4>
                                <p class="card-category"><b>NOTICE:</b> Please take extra precaution, due to the COVID-19 pandemic.</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>ID</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Date of Birth</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                    </thead>
                                    <tbody>

                                        {% for pat in get_patients('')  %}
                                            <tr>
                                                <td>{{ pat[0] }}</td>
                                                <td><b>{{ pat[2] }}</b></td>
                                                <td>{{ pat[1] }}</td>
                                                <td>{{ pat[3] }}</td>
                                                <td>{{ pat[4] }}</td>
                                                <td>{{ pat[5] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>


                                {% if error %}
                                    <p class="error"><strong>Error:</strong> {{ error_msg }}</p>
                                {% endif %}
                            </div>
                        </div>